<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books List</title>
</head>
<body>
    <h1>Books List</h1>
    <ul>
        <% if(books.length > 0) { %>
            <% books.forEach(book => { %>
                <li><%= book.title %> - <%= book.publishingYear %></li>
                <form action="/books/delete/<%= book.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <% }); %>
        <% } else { %>
            <li>No books has been found</li>
        <% } %>
    </ul>
    <%- include('partials/navigation') %>
</body>
</html>